[Unit]
Description=Zwift Fan controller
After=network.target

[Service]
ExecStart=sudo python3 /home/solidsnake/openant-examples/zwift-smart-fan-controller-python/zwift-fan.py
WorkingDirectory=/home/solidsnake/openant-examples/zwift-smart-fan-controller-python/
User=root
Restart=always

[Install]
WantedBy=multi-user.target
